 <li>
    <%= link_to user.full_name, user%>
</li>
 <li>
    <%= link_to user.email, user%>
</li>
 <li>
    <%= link_to user.approved, user%>
</li>
 <li>
    <%= link_to "Edit", edit_user_path(user)%>
</li>
